{% extends "parent.html" %}
{% block title %}{{h1text}}{% endblock %}
{% block head %}
<style>
    ul.errorlist {display: none;}
</style>
{% endblock %}
{% block content %} 

<div class="col m12 l3">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn" type="submit">Analyze Picture</button>
    </form>
    <!--p style="color: grey">{{debug}}</p-->
</div>
<div class="col m12 l9">
    {% if img_obj %}
        <p>Using AI model {{img_obj.aimodel}}</p>
        <img width="100%" src="data:image/jpeg;base64, {{imgbytes}}"></img>
        <ul class="collapsible popout"><li>
            <div class="collapsible-header"><i class="material-icons">art_track</i>Click to open detailed analysis (raw)</div>
            <div class="collapsible-body">
                <div class="log-print" style="display: block;">
                    <pre>{{analysis}}</pre>
                </div>
            </div>
        </li></ul>
    {% endif %}
</div>

{% endblock %}



