{% extends "parent.html" %}
{% block title %}{{h1text}}{% endblock %}
{% block head %}
<style>
</style>
{% endblock %}
{% block content %} 


<div class="container">
    <blockquote>{{summary}}</blockquote>
    <div class="row">
        {% for x in updates %}
        <div class="col s6">
            <div class="card-panel">
                <a href="{{x.task.webaddress}}">{{x.task.display}}</a><br/>
                {{x.info}}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        {% for x in others %}
        <div class="col s6 m3">
            <div class="card-panel">
                <a href="{{x.task.webaddress}}">{{x.task.display}}</a><br/>
                <small>{{x.status}} {{x.info}}</small>
            </div>
        </div>
        {% endfor %}
        <div class="col s6 m3">
            <div class="card-panel">
            <form action="/myweb/do/" method="post" target="outputarea" onsubmit="return confirm('Are you sure?');">
                {% csrf_token %}
                <label><input name="group" type="radio" value="All" checked /><span><small>All</small></span></label>
                {% for o in groups %}
                <label><input name="group" type="radio" value="{{o.group}}"/><span><small>{{o.group}}</small></span></label>
                {% endfor %}
                <button class="btn-small">start</button>
            </form>
            </div>
        </div>
    </div>
    <iframe id="outputarea" name="outputarea" width="100%" height="300px" style="border:none;"></iframe>

</div>

{% endblock %}



