{% extends "parent.html" %}
{% block title %}{{h1text}}{% endblock %}
{% block head %}
{% endblock %}
{% block content %} 

<div class="container">
<div class="row">
    {% for x in htmls %}
    <div class="col s12 m6">
        <div class="card-panel">
            {% autoescape off %}{{x}}{% endautoescape %}
        </div>
    </div>
    {% endfor %}
</div>
<div class="row">
    <p class="right-align">
        <a class='btn blue-grey lighten-1' target="_blank" href='/admin/webreader/markitdown/'>Editor</a>
    </p>
</div>
</div>
{% endblock %}



