{% extends "parent.html" %}
{% block title %}{{h1text}}{% endblock %}

{% block head %}
<script>
    function showLog() {
        document.getElementById('log-btn').style.display = "none";
        document.getElementById('log-print').style.display = "block";
    };
</script>
<style>
.mainnav-wrapper {
  margin: 5% 5% 5% 5%;
  border-radius: 6px;
  border: 9px solid lightslategray;
  background-color: lightslategray;
}
.mainnav-wrapper > div.col {
  color: #fff;
  height: 80px;
  background-color: lightslategray;
}
.mainnav-wrapper > div.col > a{
  height: 100%;
  width: 100%;
  color: #fff;
  padding-top: 15px;
  font-size: 1.2rem;
}
#mainnavdrop{
  width:220px !important;
}
#the-menu{
  display:none;
}
h1 {
  font-size: 6rem;
  font-weight: 600;
  margin-left: 50%;
  color:lightslategray;
}
</style>
{% endblock %}


{% block content %} 
<div class="row">
  <h1>y...</h1>
</div>
<div class="row mainnav-wrapper">
  <div class="col s12 m4 l1 hoverable">
    <a href="#" data-target="slide-out" class="sidenav-trigger waves-effect waves-light btn-flat"><i class="material-icons">menu</i>menu</a>
  </div>
  <div class="col s12 m4 l1 hoverable">
    <a class='dropdown-trigger btn-flat' href='#' data-target='mainnavdrop'><i class="material-icons">arrow_drop_down_circle</i>more</a>
    <ul id='mainnavdrop' class='dropdown-content'>
      {% for x in dropgrp1 %}
      <li><a href="/{{x.cleanurl}}"><i class="material-icons left">{{x.icon}}</i>{{x.desc1}}</a></li>
      {% endfor %}
      <li class="divider" tabindex="-1"></li>
      {% for x in dropgrp2 %}
      <li><a href="/{{x.cleanurl}}"><i class="material-icons">{{x.icon}}</i>{{x.desc1}}</a></li>
      {% endfor %}
      <li class="divider" tabindex="-1"></li>
      <li><a href="#!"><i class="material-icons">undo</i>Back</a></li>
    </ul>
  </div>
  {% for x in mainitems %}
  <div class="col s12 m4 l2 hoverable">
    <a href="/{{x.cleanurl}}" class="waves-effect waves-light btn-flat"><i class="material-icons left">{{x.icon}}</i>{{x.desc1}}</a>
  </div>
  {% endfor %}
{% endblock %}


{% block contentmore %} 
{% if extra %}
  <div class="col m3 s12">
      <p class="right-align"> {{extra}}</p>
      <p class='right-align'><a id="log-btn" class="btn-flat" onclick="showLog()">runtime log</a></p>

  </div>
  <div class="col m1 s12">
  </div>
  <div class="col m4 s12">
    <p>Not listed URLs:</p>
    {% for x in notlisted %}<a href="{{x.cleanurl}}">{{x.cleanurl}}</a><br />{% endfor %}
    <p><a class='btn blue-grey lighten-1' href='/admin/frontend/siteurl/'>Menu Admin</a></p>
  </div>
  <div class="col m4 s12">
    <p>All URLs:</p>
    {% for x in allurls %}<a href="{{x}}">{{x}}</a><br />{% endfor %}
  </div>
  <div id="log-print" class="col container" style="display: none; margin:9%;">
    <pre>{{log}}</pre>
  </div>

{% endif %}

{% endblock %}


