{% extends "parent.html" %}
{% block title %}{{h1text}}{% endblock %}

{% block content %} 
<div class="col m3 s12">
</div>
<div class="col m9 s12" style="margin-bottom: 20%">
    <p>
        <a class="waves-effect waves-light btn-large" href="/vision">
            <i class="material-icons left">party_mode</i>AI Vision
        </a>
    </p>
    <p style="margin-top:50px">
        <a href="#" data-target="slide-out" class="sidenav-trigger waves-effect waves-light btn-large">
            <i class="material-icons">menu</i>Open Menu</a>

    </p>
</div>
{% endblock %}

{% block contentmore %} 
<div class="col m3 s12">
    <h1> {{h1text}}</h1>
</div>
<div class="col m1 s12">
</div>
<div class="col m8 s12"><small>
{% autoescape off %}{{mainhtml}}{% endautoescape %}
</small></div>
{% endblock %}